.table{
    height: 80%;
    width:  80%;
    margin: auto;
}

.presentation{
    text-align: center;
    align-items: center;
    margin: auto;
}

div #Title{
    margin: auto;
  text-align: center;
}
h1 {
  margin: auto;
  text-align: center; 
}